@import "/assets/styles-2.css";

h1 {
  color: #ff0000;
}

#header {
  background-image: url(/assets/tile-1.jpg);
}

@media screen {
  body {
    background-color: lightgreen;
  }
}

@font-face {
  font-family: 'somefont';
  src: url('/assets/somefont.eot');
  src: url('/assets/somefont.eot') format('embedded-opentype'), url('/assets/somefont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
